* {
  box-sizing: border-box;
}

#top-row {
  padding: 0px;
}

header {
  height: 110px;
}

header > h1 {
  position: fixed;
  top: -15px;
  left: 40px;
  color: white;
  font-size: 30px;
}

.header-subtext {
  color: #7BC383;
}

#banner {
  height: 110px;
  padding: 0px;
  z-index: 10;
  padding-right: 260px;
  text-align: right;
  display: block;
  min-width: 1%;
}

#banner-text {
  font-size: 70px;
  color: #CCDE5C;
  font-family: 'Times New Roman';
  margin-top: 36px;

}

#banner-text-another {
  font-size: 40px;
  color: white;
  font-family: 'Times New Roman';
  margin-top:47px;
  text-align: left;
}

#vertical-banner {
  height: 780px;
  width: 175px;
  position: absolute;
  background-color: blue;
  right: 80px;
  font-size: 40px;
  color: white;
  font-family: 'Times New Roman';
  z-index: 20;
  padding: 0px;
}

#vertical-banner-1 {
  height: 110px;
  width: 175px;
  font-size: 40px;
  color: white;
  font-family: 'Times New Roman';
  padding-top: 10px;
}

#vertical-banner-2 {
  height: 350px;
  width: 175px;
  font-size: 40px;
  color: #969C81;
  font-family: 'Times New Roman';
  padding: 0px;
}

#vertical-banner-3 {
  height: 290px;
  width: 175px;
  font-size: 40px;
  color:#AEDEF6;
  font-family: 'Times New Roman';
  padding: 0px;
}

#vertical-banner-4 {
  height: 30px;
  width: 175px;
  font-size: 40px;
  color: white;
  font-family: 'Times New Roman';
  padding: 0px;
}

#left-panel {
  height: 670px;
}

#left-panel-overlap {
  height: 290px;
  width: 400px;
  margin-top: -10px;
  margin-left: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#main-section {
  height: 670px;
}

#main-section-text {
  width: 50px;
  font-size: 40px;
  color: #FFA149;
  font-family: 'Times New Roman';
  z-index: 2;
  position: absolute;
  padding-left: 0px;
}

textarea {
  height: 290px;
  margin-top: 30px;
  margin-left: -15px;
  border: none;
  padding: 20px;
  resize: none;
  font-size: 20px;
  overflow: scroll;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#results-section {
  height: 290px;
  background-color: white;
  margin-top: 30px;
  position: relative;
  right: -140px;
  padding: 20px;
  font-size: 20px;
  overflow: scroll;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 3;
}

.orange {
  background-color: #FF8919;
}

.green {
  background-color: #B4CC14;
}

.blue {
  background-color: #00A0E3;
}

.bluegreen {
  background-color: #63BA6E;
}

.bluewhite {
  background-color: #8AD2F6;
}

.orangewhite {
  background-color: #FFC99C;
}

.blueorange {
  background-color: #8A9273;
}
